<%= simple_form_for(list) do |l| %>
  <%= l.error_notification %>
  <%= l.error_notification message: l.object.errors[:base].to_sentence if l.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= l.input :name %>
  </div>

  <div class="form-actions">
    <%= l.button :submit %>
  </div>
<% end %>
